@page
@model Covinator.Pages.AboutUsModel
@{
}
<h1 style="text-align:center">About Us</h1>
<br />
<p>The website provides data about Pfizer Vaccination, Moderna Vaccination and US Cases & Deaths Data.</p>
<br />
<h3>Pfizer Vaccination Data</h3>
<p>
    The Pfizer Vaccination Page gives us an overview of how Pfizer vaccinations are being distributed
    accross different states in the United States. Since the Vaccine requires a 3 week gap between dose, it is important
    to track the avalability of vaccine. In this page you can filter the results by State and view the 
    allocations data for past 16 weeks.
</p>
<br />
<h3>Moderna Vaccination Data</h3>
<p>
    The Moderna Vaccination Page gives us an overview of how Moderna vaccinations are being distributed
    accross different states in the United States. Since the Vaccine requires a 3 week gap between dose, it is important
    to track the avalability of vaccine. In this page you can filter the results by State and view the
    allocations data for past 16 weeks.
</p>
<br />
<h3>US Cases & Deaths Data</h3>
<p>This page provides daily COVID Case and Death statistics. </p>
<br />
<h3>API Link</h3>
<p>The API Link ( Click <a href=https://covinator20210415232955.azurewebsites.net/pfizercuralc target="_blank"> here </a>) provides data on the current week
    vaccine allocations for all the states.</p>